body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  margin: 0;
  background-color: rgb(247, 244, 248);
}

.header {
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    background: rgb(255, 175, 216);
    display: flex;
    justify-content: center;
    height: 125px;
    background-image: linear-gradient(rgb(248, 240, 247),rgb(255, 175, 216),rgb(255, 190, 224), rgb(248, 240, 247));
}

.title {
    padding-top: 5%;
    color: hotpink;
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    width: 700px;
    height: 300px;
}

.about_me {
    font-size: 12pt;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 40px;
    display: block;
    height: auto;
    margin-bottom: 50px;
}

.shopping_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    align-items: stretch;
    padding-bottom: 5%;
}

.shopping_column {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    gap: 1rem;
    flex:1;
}

.article {
    min-height:250px;
    flex: 1;
    box-sizing: border-box;
    width: auto;
    color: rgb(157, 7, 77);
    border-color: hotpink;
    border-width: 3px;
    border-style: solid;
    border-radius: 17px;
    font-size: 14pt;
    text-align: center;
    background-size: cover;
}

.name {
    padding-top: 2%;
    background-color: rgb(247, 244, 248);
    border-radius: 14px 14px 0px 0px;
    height: 35px;
}

.fuss {
    margin-top: 1vh;
    font-size: 15pt;
    text-align: center;
    color: hotpink;
    margin-bottom: 2%;
}